# Pandas

#### Pandas is an extension of the Numpy library package, Pandas is essential for performing Data Science programming.

#### Two Data structures are available to us, Series and Dataframe, Dataframe is important

### Create a Pandas Series

In [1]:
import pandas as pd

In [12]:
import numpy as np

In [2]:
a = pd.Series([1,2,3,5,6,7,8,9])

#### Series is a like a numpy array, it can take any type of data int, float, boolean etc, but it must contain Homogenous data i.e. data of the same type.

In [3]:
a

0    1
1    2
2    3
3    5
4    6
5    7
6    8
7    9
dtype: int64

#### Check data type

In [4]:
type(a)

pandas.core.series.Series

#### Accessing the elements of Series is same as numpy array

In [5]:
a[3]

5

In [6]:
a[2:6]

2    3
3    5
4    6
5    7
dtype: int64

In [7]:
a[:6]

0    1
1    2
2    3
3    5
4    6
5    7
dtype: int64

In [8]:
a[5:]

5    7
6    8
7    9
dtype: int64

In [9]:
a[:-1]

0    1
1    2
2    3
3    5
4    6
5    7
6    8
dtype: int64

#### If we create a series with datatype char or strings, there is some interesting change, let's see

In [10]:
a1 = pd.Series(['a', 'b', 'c', 'd'])

In [11]:
a1

0    a
1    b
2    c
3    d
dtype: object

#### we see the datatype specified is object

### we have seen how to create a numpy range, but what if we want to create a range of Date values, this is made available to us in Pandas using pd.date_range() function

In [17]:
a_dates = pd.date_range(start = '01-01-2009', end = '5-01-2009')

In [18]:
a_dates

DatetimeIndex(['2009-01-01', '2009-01-02', '2009-01-03', '2009-01-04',
               '2009-01-05', '2009-01-06', '2009-01-07', '2009-01-08',
               '2009-01-09', '2009-01-10',
               ...
               '2009-04-22', '2009-04-23', '2009-04-24', '2009-04-25',
               '2009-04-26', '2009-04-27', '2009-04-28', '2009-04-29',
               '2009-04-30', '2009-05-01'],
              dtype='datetime64[ns]', length=121, freq='D')

##### note to self : the date time format entered in a_dates is taking utc/us format, but displays back in local datetime format when executed

In [19]:
type(a_dates)

pandas.core.indexes.datetimes.DatetimeIndex

###### come back to this after to explore more series functions